<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if title %}{{ title }} - {% endif %}Is AWS IPv6 ready yet?</title>

    <meta property="og:title" content="{% if title %}{{ title }} - {% endif %}Is AWS IPv6 ready yet?">
    <meta property="og:description" content="We're rating all AWS services to ask the question - Is AWS IPv6 ready yet?">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ '/static/img/share_logo.png' | htmlBaseUrl }}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    {% if meta.environment == "production" %}
      <link rel="stylesheet" href="{{ '/static/css/styles.css' | url }}">
      <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "528955f788a54b81b7abd21972229cdc"}'></script>
    {% else %}
      <script src="{{ '/static/js/styles.js' | url }}"></script>
    {% endif %}
  </head>
  <body>
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <span class="fs-4"><i class="bi bi-cloud-drizzle-fill" aria-hidden="true"></i> Is AWS IPv6 ready yet?</span>
        </a>

        <nav class="nav nav-pills justify-content-center">
          <a href="{{ '/' | url }}" class="nav-link {{ 'active' if page.url == '/' }}">Home</a>
          <a href="{{ '/ratings/' | url }}" class="nav-link {{ 'active' if '/ratings/' in page.url }}">Ratings</a>
          <a href="{{ '/about/' | url }}" class="nav-link {{ 'active' if page.url == '/about/' }}">About</a>
          <a href="https://github.com/tomkins/isawsipv6readyyet" target="_blank" class="nav-link"><i class="bi bi-github" aria-hidden="true"></i> GitHub</a>
        </nav>
      </header>
    </div>
    <main>
      {% block main %}
      <div class="container-md">
        <div class="col-lg-9 mx-auto">
          {% block content %}
          {{ content | safe }}
          {% endblock content %}
        </div>
      </div>
      {% endblock main %}
    </main>

    <footer class="col-md-9 pt-5 mx-auto">
      <p class="text-center text-body-secondary border-top p-3">
        This is not an official AWS site. Amazon Web Services, AWS, and various AWS services are trademarks of Amazon.com, Inc. or its affiliates.
      </p>
    </footer>

    <script src="{{ '/static/js/main.js' | url }}"></script>
  </body>
</html>
