{% extends "base.njk" %}


{% block content %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="{{ '/ratings/' | url }}" class="nav-link {% if page.url == '/ratings/' %}active{% endif %}">Rated</a>
    </li>
    <li class="nav-item">
      <a href="{{ '/ratings/zero/' | url }}" class="nav-link {% if page.url == '/ratings/zero/' %}active{% endif %}">Zero Rating</a>
    </li>
    <li class="nav-item">
      <a href="{{ '/ratings/no-rating/' | url }}" class="nav-link {% if page.url == '/ratings/no-rating/' %}active{% endif %}">No Rating</a>
    </li>
    <li class="nav-item">
      <a href="{{ '/ratings/all/' | url }}" class="nav-link {% if page.url == '/ratings/all/' %}active{% endif %}">All</a>
    </li>
  </ul>

  {{ content | safe }}
{% endblock content %}
