{% macro service_table(service_list) %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Service</th>
        <th scope="col">Rating</th>
        <th scope="col">Updated</th>
      </tr>
    </thead>
    <tbody>
      {% for service in service_list %}
        <tr>
          <td class="service-detail">
            <a href="#" role="button" data-bs-toggle="collapse" data-bs-target="#service-{{ service.id }}" aria aria-expanded="false" aria-controls="service-{{ service.id }}" class="service-name text-decoration-none text-reset fw-bold collapsed">
              {% if service.notes %}
                <span class="service-showhide fw-normal"></span>
              {% endif %}

              {{ service.name }}
            </a>

            {% if service.notes %}
              <ul id="service-{{ service.id }}" class="collapse px-3 py-2">
                {% for note in service.notes %}
                  <li>{{ note | safe }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </td>
          <td class="service-score">
            {% if service.score != null %}
              {{ service.score }}/5
            {% else %}
              －
            {% endif %}
          </td>
          <td class="service-updated">
            {{ service.updated }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}
