@import "bootstrap/scss/bootstrap";
$bootstrap-icons-font-src: url("~bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"), url("~bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
@import "~bootstrap-icons/font/bootstrap-icons";

.service-detail {
    .service-showhide::after {
        content: '－';
    }
    .service-name.collapsed .service-showhide::after {
        content: '＋';
    }
}

.service-score {
    width: 5em;
}

.service-updated {
    width: 7.5em;
}
