---
layout: base
title: About
---

<h1>About Is AWS IPv6 ready yet?</h1>

<h2>Why?</h2>
<p>From 1st February 2024, AWS will be charging an additional <a href="https://aws.amazon.com/blogs/aws/new-aws-public-ipv4-address-charge-public-ip-insights/">$0.005 USD per hour</a> to use a public IPv4 address. As IPv4 addresses are a scarce resource - this is a good approach to help conserve the limited amount of IPv4 addresses.</p>
<p>Although AWS provides good support in some areas (you can have an <a href="https://aws.amazon.com/blogs/networking-and-content-delivery/introducing-ipv6-only-subnets-and-ec2-instances/">IPv6 only VPC</a>), you couldn't run an IPv6 only network which interacts with other AWS services - a large number of them will require a public IPv4 address for API traffic.</p>
<p>This site aims to build on AWS' documentation (<a href="https://docs.aws.amazon.com/vpc/latest/userguide/aws-ipv6-support.html">AWS services that support IPv6</a>), to analyse the services in detail and rate their IPv6 support. The overall goal is for this site to be made redundant as every service in AWS supports IPv6, and all new services launch with IPv6 support from the day they're announced.</p>

<h3>Why are there over 300 services?</h3>
<p>We're using <a href="https://aws.amazon.com/blogs/aws/new-query-for-aws-regions-endpoints-and-more-using-aws-systems-manager-parameter-store/">SSM</a> to get a full list of what services AWS provides.</p>
<p>Some of these services might be quite large in what they cover, others might be just an AWS API endpoint.</p>

<h2>Scoring</h2>

<p>All scoring is human lead and subjective, however here's a rough list of scoring guidelines we're using to rate AWS services:</p>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Rating</th>
        <th scope="col">Guidelines</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><h3 class="text-nowrap">5<span class="d-none d-md-inline"> stars</span></h3></th>
        <td><ul class="px-3">
          <li>This service could be used on an IPv6 only network without any issues.</li>
          <li>Older instances on legacy deployments <i>may</i> lack IPv6 support - as long as there is an upgrade path.</li>
          <li>Use of a public IPv4 address in the account is not required (but could be a shared IPv4 address).</li>
          <li>Support of IPv6 is end to end.</p>
        </ul></td>
        </tr>
      <tr>
        <th scope="row"><h3 class="text-nowrap">4<span class="d-none d-md-inline"> stars</span></h3></th>
        <td><ul class="px-3">
          <li>A minor part of the service might not be IPv6 ready.</li>
          <li>Not all public AWS regions have IPv6 support for the service.</li>
        </ul></td>
      </tr>
      <tr>
        <th scope="row"><h3 class="text-nowrap">3<span class="d-none d-md-inline"> stars</span></h3></th>
        <td><ul class="px-3">
          <li>There is a good amount of IPv6 support.</li>
          <li>API might be IPv4 only.</li>
        </ul></td>
      </tr>
      <tr>
        <th scope="row"><h3 class="text-nowrap">2<span class="d-none d-md-inline"> stars</span></h3></th>
        <td><ul class="px-3">
          <li>Support of IPv6 is not end to end.</li>
          <li>IPv6 support is defective or unexpected in some way.</li>
          <li>A public IPv4 address is required to run the service itself (excluding the API).</li>
        </ul></td>
      </tr>
      <tr>
        <th scope="row"><h3 class="text-nowrap">1<spa class="d-none d-md-inline"> star</span></h3></th>
        <td><ul class="px-3">
          <li>An AAAA record is found.</li>
          <li>IPv6 could be used with the service in some way, but it is a tiny part of the service.</li>
        </ul></td>
      </tr>
      <tr>
        <th scope="row"><h3 class="text-nowrap">0<span class="d-none d-md-inline"> stars</span></h3></th>
        <td><ul class="px-3">
          <li>There is no evidence of any IPv6 support.</li>
        </ul></td>
      </tr>
    </tbody>
  </table>
</div>
